footer {
  background-color: #DCDCDC;
  text-align: center;
  padding: 2rem;
  color: #000000;
  letter-spacing: 5px;
  font-weight: 500;
  font-family: 'Arial', sans-serif;
}




/* Animasi untuk copyright */
@keyframes pulse {
  0% { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.8; }
}

footer span {
  display: inline-block;
  animation: pulse 3s infinite ease-in-out;
}

/* Responsivitas untuk mobile */
@media screen and (max-width: 768px) {
  footer {
    padding: 15px 0;
    letter-spacing: 3px;
    font-size: 0.9rem;
  }
  
  footer:hover {
    letter-spacing: 3.5px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: 12px 0;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }
  
  footer:hover {
    letter-spacing: 2.5px;
  }
}