.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 8rem;
  background-color: #000000;
  color: white;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-text h2 span {
  color: #ffffff;
}

.hero-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  order: 2;
}

